.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    /* border-radius: 12px; */
    padding-top: 1.5rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.formContainer h1 {
    margin-bottom: 1.25rem;
}

.formContainer form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.formContainer form label {
    margin: 2rem 0 0.5rem 0;
    color: var(--title);
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer input {
    font-size: 1.25rem;
    line-height: 1.4;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.2rem;
    padding-left: 10px;
}

.inputContainer select {
    font-size: 1.25rem;
    line-height: 1.4;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.2rem;
    padding-left: 10px;
}

.formButton {
    margin-top: 3.5rem;
    background: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 4px;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.5rem;
}

.formButton:hover {
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
}