.challengeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.challengeContainer > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.challengeContainer div {
    margin-left: 1.5rem;
    width: 60%;
}

.challengeContainer div strong {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title);
}

.challengeContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.challengeContainer div p img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
